@font-face {
	font-family: 'wild_youthregular';
	src: url('../fonts/wildyouth-webfont.woff2') format('woff2'),
		url('../wildyouth-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*##############################
			GLOBAL
###############################*/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	width: 175px;
	height: 50px;
	background-color: #e4bb7a;
	cursor: pointer;
	border: none;
}

/*##############################
		LINE
###############################*/

.line {
	background-color: #e4bb7a;
	padding: 15px 0 ;
}

.line__point {
	font-size: 1.8rem;
	font-weight: bold;
	padding-right: 5px;
	text-decoration: none;
	color: #000;
}

.line__text {
	font-family: 'Average', serif;
	font-size: 1.3rem;
	font-weight: bold;
	display: inline-block;
}

.line__display {
	display: flex;
	justify-content: space-between;
}

.line__icons {
	display: inline-block;
	font-size: 1.3rem;
	padding-left: 20px;
}

.line__link {
	 color: #000;
}

/*##############################
		TOP NAV
###############################*/

.nav {
	background: #262626;
}

.nav__list {
	list-style: none;
	text-transform: uppercase;
	display: flex;
}

.nav__item {
	padding: 20px 0 20px 40px;
	align-items: center;
	display: flex;
}

.nav__link {
	font-family: 'Montserrat';
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: none;
	color: #fff;
}

.nav__hamburger {
	font-size: 1.5rem;
}

.nav__steak {
	padding-left: 0;
}
/* pushing all elements from the icon to the right */
.nav__push {
    margin-left: auto;
}


/*##############################
			WELCOME
###############################*/

.welcome {
	background-color: #3f3f3f;
	padding-top: 280px;
	text-align: center;
}

.welcome__greatings {
	font-size: 5rem;
	font-family: 'wild_youthregular', sans-serif;
	color: #e4bb7a;
}

.welcome__name {
	font-family: 'Average', serif;
	color: #fff;
	font-size: 7.6rem;
}

.welcome__address {
	font-size: 1.6rem;
	color: #fff;
}

.welcome__arrow {
	width: 81px;
	height: 40px;
	margin: 10px auto 40px;
	background: url(../images/arrow1.gif) no-repeat;
}

.welcome__bell {
	width: 70px;
	height: 90px;
	background: url(../images/bell.gif) no-repeat;
	margin: 210px auto 40px;
}












